<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Heatmap II</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div id="canvas" style="width: 800px; height: 800px; margin: 0 auto;">
            <canvas width=800 height=800>
            </canvas>
        </div>
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="scripts/lib/webgl-heatmap.js"></script>
        <script src="scripts/others/demo2.js"></script>
    </body>
</html>
